/* full body css */
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}

body{
    font-family: 'Poppins', sans-serif;
}

a:hover{
    color: #0056b3;
    text-decoration: none;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
}

button:focus, .form-control:focus, .btn:focus {
    box-shadow: none;
    outline: 0;
}

.destopmodehide{
    display: none;
}

.slider-section {
    margin-top: var(--scroll-padding);
}

/**full body css End**/


/**Header css Start**/

.headerbanner{
    text-align: left;
}

.headerbanner img {
    max-width: 100%;
}

ul.subsubItems {
    position: absolute;
    left: 100%;
    top: 0;
}

.main-header {
    background-color: #fff;
    border-top: 0;
}

span.moble-menus-models {
    color: #444;
    padding: 5px;
    display: block;
    text-align: center;
    margin-top: 4px;
    font-size: 30px;
}

.search-section {
    margin-top: 18px;
}

.search-section .form-control{
    background: #fff;
    line-height: 40px;
    font-size: 12px;
    display: block;
    font-weight: 700;
    padding: 0px 10px;
    color: #000;
    border-right: none;
    transition: all .55s;
    border-radius: 60px;
}

.search-button{
    background-color: #ffffff;
    color: #d33;
    padding: 0px 10px;
    border-left: none;
    font-size: 13px;
    border-radius: 0px 50% 50% 0px;
    transition-duration: 0.2s;
}

.search-button:hover{
    color: #ddd;
}

.header-menu ul{
    float: right;
}

.header-menu ul li {
    float: left;
    position: static;
}

.header-menu ul li a {
    color: #000;
    padding: 40px 14px;
    display: block;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: auto 0px;
    transition-duration: 0.2s;
}

.header-menu ul li:hover > a {
    color: #fff;
    background-color: #6f6f6f;
}

.header-menu ul li ul {
    display: none;
    position: absolute;
    width: 237px;
    z-index: 999;
    box-shadow: 0px 0px 4px #000;
    background: #f46400;
}

.header-menu ul li ul li a{
    padding: 8px 10px;
    font-size: 12px;
    color: #fff;
}

.header-menu ul li:hover > ul{
    display: block;
}

.header-menu ul li:hover > .mega-menus{
    display: block;
}

ul.dropdown-menus {
    left: 100%;
    top: 0;
}

.header-menu ul li span.fa-chevron-down {
    font-size: 12px;
    margin: 5px;
    padding: 2px;
    color: #e5e5e5;
}

.header-menu ul li span.fa-angle-right {
    padding: 3px 10px;
    color: #e5e5e5;
    float: right;
}

ul.dropdown-submenus li a {
    padding: 5px 0px 5px 10px;
}

.header-menu ul li ul li {
    border-bottom: 1px solid #474747;
    width: 100%;
}

.header-menu ul li ul li:last-child{
    border-bottom: none;
}

.logo a img {
    width: 54%;
    margin: 5px 0px;
}

.logo a {
    font-size: 47px;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px;
    display: block;
}

/**Header css End**/

.carousel-caption.d-none.d-md-block {
    background: #0000008f;
    padding: 25px 50px;
}

.carousel-caption.d-none.d-md-block h5 {
    font-size: 30px;
    font-weight: 600;
}

.carousel-caption.d-none.d-md-block p {
    font-size: 15px;
}

.service-section {
    padding: 40px 0px;
}

.service-section center{
    width: 70%;
    margin: 0px auto 35px;
}

.service-section center h3 {
    font-weight: 900;
}

.service-section center p {
    font-size: 13px;
}

.service-section a.service-blog{
    text-decoration: none;
    color: #3e3e3e;
}

.service-section a.service-blog .card{
    transition-duration: 0.3s;
    background-color: #f46400;
    border: none;
    box-shadow: -8px 9px 13px #ccc;
}

.service-section a.service-blog .card:hover{
    transform: scale(1.1);
    border: none;
}

.service-section a.service-blog .card:hover > a.service-blog{
    color:  #000;
}

.service-section a.service-blog .card .card-body .readMore {
    background-color: #f46400;
    color: #fff;
    padding: 5px 30px;
    font-size: 13px;
    box-shadow: 4px 4px 3px #ccc;
    transition-duration: 0.3s;
}

.service-section a.service-blog .card .card-body .readMore:hover{
    background-color: #ccc;
    color: #000;
}

.service-section a.service-blog .card .card-body h5{
    font-weight: 600;
    margin: 0;
    color: #fff;
}

.service-section a.service-blog .card .card-body p{
    font-size: 14px;
    line-height: 19px;
}

.serviceViewheader{
    padding: 80px 0px;
}

.serviceViewheader h2{
    margin: 0;
    color: #fff;
    font-weight: bolder;
}

.serviceBodyview {
    padding: 20px 0px;
    font-size: 15px;
}

.about-company{
    padding: 30px 0px;
    box-shadow: 0px 0px 5px 1px #ccc;
    background-color: #f1f1f1;
}

.about-company img{
    padding: 5px;
    box-shadow: 0px 0px 5px #ccc;
}

.about-company h5 {
    font-size: 25px;
    font-weight: 600;
}

.about-company P{
    font-size: 14px;
    text-align: justify;
}

.about-company a.readMore {
    background-color: #f46400;
    color: #fff;
    padding: 5px 30px;
    font-size: 13px;
    box-shadow: 4px 4px 3px #ccc;
    transition-duration: 0.3s;
}

.about-company a.readMore:hover{
    background-color: #ccc;
    color: #000;
}

.about-page{
    margin: 40px 0px;
}

.about-page h3{
    font-weight: 600;
    color: #444;
}

.about-page p{
    font-size: 14px;
}

button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
    display: none!important;
}

.latest-news {
    padding: 40px 0px;
}

.latest-news center{
    width: 70%;
    margin: 0px auto;
}

.latest-news center h3{
    font-weight: 900;
}

.latest-news center p{
    font-size: 13px;
}

.latest-news .news-slider .slick-box{
    margin: 20px 10px;
    box-shadow: 0px 0px 5px #ccc;
    transition-duration: 0.3s;
}

.latest-news .news-slider .slick-box:hover{
    box-shadow: 1px 7px 10px #ccc;
}

.latest-news .news-slider .slick-box a{
    text-decoration: none;
    color: #555;
}

.latest-news .news-slider .slick-box .card-body{
    padding: 10px;
}

.latest-news .news-slider .slick-box .card-body h5{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.latest-news .news-slider .slick-box .card-body p{
    font-size: 13px;
    margin: 8px 0px 15px;
    line-height: 18px;
}

.latest-news .news-slider .slick-box .card-body .readMore {
    background-color: #f46400;
    color: #fff;
    padding: 5px 15px;
    font-size: 13px;
    transition-duration: 0.3s;
}

/* .latest-news .news-slider .slick-box .card-body .readMore:hover{
    background-color: #ccc;
    color: #000;
} */

.photo-gallery {
    padding: 40px 0px;
}

.photo-gallery center{
    width: 70%;
    margin: 0px auto;
}

.photo-gallery center h3{
    font-weight: 900;
}

.photo-gallery center p{
    font-size: 13px;
}

.gallery-page{
    margin-top: 20px;
}

.photo-gallery a.viewMore{
    background-color: #f46400;
    color: #fff;
    padding: 7px 50px;
    font-size: 15px;
    box-shadow: 4px 4px 3px #ccc;
    transition-duration: 0.3s;
}

.photo-gallery a.viewMore:hover{
    background-color: #ccc;
    color: #000;
}

.gallery_box{display: table; height: 100%;}
.gallery_left{display: table-cell; vertical-align: middle;}
.galleryImg {margin: 0px 0;
    box-shadow: 0px 0px 10px #ccc;
  position: relative;
}
.gallery-wrap .col-lg-4:nth-child(2) .galleryImg + .galleryImg {
  margin-top: 30px;
}
.gallery_style1 .col-lg-4:nth-child(4) .galleryImg {
  margin-top: 30px;
}
.gallery_style1 .col-lg-4:nth-child(5) .galleryImg {
  margin-top: 30px;
}
.gallery_style1 .col-lg-4:nth-child(6) .galleryImg {
  margin-top: 30px;
}
.gallery_style1 .col-lg-3:nth-child(5) .galleryImg {
  margin-top: 30px;
}
.gallery_style1 .col-lg-3:nth-child(6) .galleryImg {
  margin-top: 30px;
}
.gallery_style1 .col-lg-3:nth-child(7) .galleryImg {
  margin-top: 30px;
}
.gallery_style1 .col-lg-3:nth-child(8) .galleryImg {
  margin-top: 30px;
}
.gallery_style1 .col-lg-6:nth-child(3) .galleryImg {
  margin-top: 30px;
}
.gallery_style1 .col-lg-6:nth-child(4) .galleryImg {
  margin-top: 30px;
}

.serImg {
  margin-bottom: 30px;
}
.galley_inner .row > div {
  margin: 15px 0;
}
.galley_inner {
  text-align: center;
}
.testi_list {
  list-style: none;
}
.testi_list li {
  margin: 36px 0;
}
.testi_list .testimonials_sec {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}
.portfolio-overley {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.galleryImg img {
  width: 100%;
}
.gallery-wrap .galleryImg:hover .portfolio-overley, .galley_inner .galleryImg:hover .portfolio-overley {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.gallery-wrap .content, .galley_inner .content {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.gallery-wrap .content .image-link, .galley_inner .content .image-link {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  color: #ffffff;
  line-height: 50px;
  background: #f0aa00;
  display: block;
  font-size: 16px;
  z-index: 1;
  text-align: center;
  margin-left: -25px;
  margin-top: -25px;
}


/*contact css start*/

.contact-header p{
	width: 60%;
	margin: 0px auto;
	font-weight: normal;
}

.sitemap{
    margin: 20px 0px 0;
}

.sitemap iframe{
    padding: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

.contact-header{
	text-align: center;
	color: #e91e63;
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0px 130px;
}

.contactbutton{
	background-color: #EF5108;
    color: #fff;
    padding: 5px 20px;
    margin-top: 50px;
    transition-duration: 0.2s;
}

.contactbutton:hover{
	background-color: red;
}

.contactbutton a{
	text-decoration: none;
	color: #fff;
}

.contact-form{
	margin: 30px 0px;
}

.form-info{
	background-color: #fff;
	border-radius: 5px;
}

.form-info h3{
	font-weight: bold;
    font-size: 25px;
}

.form-info p{
	margin: 10px 0px 30px 0px; 
    font-size: 14px;
}

.form-group-section{
	margin-bottom: 25px;
}

.required{
    display: block;
    margin: 2px 0px -10px 0px;
    color: red;
    font-size: 12px;
}

.control-section{
	padding: 10px;
    font-size: 15px;
}

.control-section:focus{
	box-shadow: none;
}

.submitbutton:focus{
	box-shadow: none;
}

.submitbutton{
	background-color: #f46400;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 0;
    font-weight: 700;
    padding: 7px 42px 6px;
}

.submitbutton:hover{
	background-color: #ccc;
	color: #000;
}

.website-info {
    background-color: #f46400;
    color: #fff;
    padding: 10px 10px 0 0px;
    margin-bottom: 10px;
}

.website-info .media i{
    width: 54px;
    font-size: 29px;
    padding: 0;
    text-align: center;
    display: block;
}

.website-info .media h5{
    font-size: 16px;
    font-weight: 600;
}

.website-info .media p{
    font-size: 14px;
    line-height: 18px;
}

/* card */

/* card end */

/* contact css end*/

/* footer css start*/

.bottom-footer {
    background-color: #d0d0d0;
    padding: 15px 0px;
}

footer{
    box-shadow: 0px 0px 10px #ccc;
}

.main-footer{
	background-color: #fff;
    padding: 20px 0px 30px;
}

.main-footer center img{
    width: 15%;
}

.footer-menu{

}

.footer-menu ul{
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

.footer-menu ul li{
    display: inline-block;
}

.footer-menu ul li a{
    padding: 5px 15px;
    text-decoration: none;
    color: #444;
    font-size: 15px;
    font-weight: 600;
    transition-duration: 0.3s;
}

.footer-menu ul li a i{
    font-size: 20px;
}

.footer-menu ul li a:hover{
    color: #f46400;
}

.copyright p{
	margin: 0px;
    color: #000;
    font-size: 13px;
    text-align: center;
}
.copyright a {
    color: #f46400;
    font-weight: bold;
}

/*footer css end*/

header.sticky-header {
    width: 100%;
    -webkit-transition: all 2.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px #ccc;
    background-color: #fff;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
    left: 0;
    animation: smoothScroll 1s forwards;
    z-index: 99;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.top-header.hidesection {
    display: none;
}
.middle-header.hidesection {
    display: none;
}

/**Matis Menu multi larvel css Start**/
.primarymenu {
    padding:0px;
}

.multi-lavel ul li {
    padding:0px;
}

ul.primarymenu li {
    background-image: linear-gradient(to bottom, #3298c8, #2e8cb8);
}

ul.primarymenu li a {
    padding: 10px;
    display: block;
    color: white;
    font-weight: bold;
}

ul.submenu li{
    display: none;
}

ul.submenu li{
    border: 0px;
}

ul#submenutwo{
    padding: 0;
    background: #e7e7e7;
}

ul#menu li a {
    border-bottom:1px solid #d6d4d4;
    display: inline-block;
    padding: 7px 12px;
    font-weight: bold;
    color: #000000;
    width:100%;
}   

/**Matis Menu multi larvel css End**/


/**Side Modals css Start**/

    .side-modals.right {
        right: -300px;
        height: 100vh;
        width: 300px;
        top: 0;
    }
    
    .cart_media {
        padding: 0px;
        background-color: #fff;
    }

    .side-modals {
        position: fixed;
        background-color: #fff;
        z-index: 9999;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .side-modals.right.open-side {
        right: 0;
    }

    .side-modals.open-side {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .side-modals .overlay {
        visibility: hidden;
        opacity: 0;
        background-color: #000000a3;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .side-modals.open-side .overlay {
        opacity: 0.8;
        visibility: visible;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .side-modals.right .cart-inner {
        height: 100vh;
        overflow: auto;
    }

    .side-modals .cart-inner {
        background-color: #ececec;
        z-index: 9;
        position: relative;
        top: 0;
    }

    .side-modals .cart-inner .cart_top {
        padding: 15px 10px;
        color: #fff;
        background-color: #f46400;
        border-bottom: 1px solid #000;
    }
    
    span.apparels {
        display: block;
        position: absolute;
        font-size: 11px;
        top: 55px;
        left: 166px;
        color: #fff;
    }

/**Side Modals css End**/

/**For Laptop/ testop Large deviece**/

@media only screen and (max-width: 1199px) {

    .logo a img {
        width: 88%;
        margin-top: 0px;
    }

    .copyright p{
        font-size:12px; 
    }
}

/**For Tablet/small laptops/ Medium deviece**/

@media only screen and (max-width: 1024px){
    .header-menu ul li a {
        padding: 28px 10px;
    }
    
    .about-company P {
        font-size: 12px;
        line-height: 13px;
    }
}

@media only screen and (max-width: 991px) {

    .main-header {
        padding: 0px 0px;
    }

    .main-header-right ul li a {
        color: #fff;
    }

    .mobilemodehide{
        display: none;
    }
}

/**For Mobile small deviece**/
@media only screen and (max-width: 767px) {

    .logo a img {
        width: 44%;
    }

    span.moble-menus-models {
        text-align: right;
    }

    .headerbanner {
        display: none;
    }

    .contact-header {
        padding: 12px 0px 21px;
    }
    
    .contact-header p{
        display: none;
    }

    .contact-header h1{
        font-size: 27px;
    }

    .form-info {
        margin: 20px 0px;
    }

    .contact-form {
        margin: 21px 0px;
    }

    .contactbutton{
        margin-top: 0px;
    }
    
    .mobilemodehide{
        display: none;
    }

    .destopmodehide {
        display: block;
    }

    .header-menu{
        display: none;
    }

    .copyright p {
        text-align: center
    }
    
}

/**For extra Mobile small deviece**/
@media only screen and (max-width: 575px) {
    
    .photo-gallery center {
        width: 100%;
    }
    
    .main-footer center img {
        width: 50%;
    }
    
    .footer-menu ul li a {
        padding: 0px 7px;
        font-size: 13px;
    }
    
    .about-content {
        padding: 20px 6px;
    }
    
    .latest-news center {
        width: 100%;
    }
    
    .service-section center {
        width: 100%;
        margin-bottom: 0px;
    }
    
    .serviceViewheader {
        padding: 25px 0px;
        text-align: center;
    }

    .logo a img {
        width: 34%;
        margin: 3px 0px;
    }
    
    span.apparels {
        display: none;
    }
    
    .logo a {
        font-size: 31px;
        letter-spacing: 2px;
    }
    
    .actionHead {
        display: none;
    }

    span.moble-menus-models {
        text-align: right;
    }
}